.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
  
.city-link {
    text-decoration: none;
}
  
.city-container button {
    margin: 20px;
}
  
.add-city-button {
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin-bottom: 20px;
}
  
.add-city-button:hover {
    background-color: #0056b3;
}

.weather-image-large {
    width: 100px;
    height: auto;
}

input[type="text"] {
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}
