.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
}
  
.city-link {
    text-decoration: none;
}
  
.city-container button {
    margin: 20px;
    outline: none;
}
  
.add-city-button {
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin-bottom: 20px;
    outline: none;
}
  
.add-city-button:hover {
    background-color: #0056b3;
}

.weather-image-large {
    width: 100px;
    height: auto;
}

input[type="text"] {
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    background-color: rgb(23, 36, 66)
}
.save-cancel-button {
    color: white;
    background-color: rgb(49, 202, 49);
    outline: none;
}

.save-cancel-button:hover {
    background-color: rgb(39, 162, 39);
    border: none;
    outline: none;
}

.edit-deletet-button:hover {
    background-color: #bf9107;
    border: none;
    outline: none;
}