.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
  
.city-link {
    text-decoration: none;
}
  
.city-container button {
    margin: 20px;
    
}
  
.add-city-button {
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}
  
.add-city-button:hover {
    background-color: #0056b3;
}
  