.header {
    background-color: #2378ce;
    color: black;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    height: 75px;
    margin-bottom: 100px;
    top: 0;
    left: 0;
    position: fixed;
}

.header-image {
    width: 100px;
    margin-top: -47px;
}
  
.header-container {
    display: flex;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.nav-item {
    display: flex;
    margin-top: 30px;
    margin-left: 240px;
    margin-left: 240px;
}
  
.nav-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
  
.nav-link:hover {
    color: #03366d;

}