.header {
    background-color: #2378ce;
    color: black;
    padding: 1rem;
    border-radius: 10px;

}
  
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.header-title {
    font-size: 1.5rem;
}
  
.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
  .nav-item {
    margin-left: 1rem;
}
  
.nav-link {
    color: black;
    text-decoration: none;
}
  